extends layout

block content
    div.bg-gray-100.h-screen.flex.items-center.justify-center
        div.max-w-md.bg-white.p-8.shadow-md.rounded-md
            a(href='#' target='_blank' class='text-4xl font-bold text-gray-800 mb-6') Welcome to PMS
            p.mt-4.mb-4 Open source Project management system built with MEAN stack 
            a(href='https://github.com/gotocva/nilajs' target='_blank' class='mt-4') Github


