

<section class="bg-white dark:bg-gray-900">
    <div id="toast-bottom-right" class="shake fixed flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow right-5 bottom-5 dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800" role="alert">
        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            <span class="sr-only">Check icon</span>
        </div>
        <div class="text-sm font-normal">Bottom right positioning.</div>
        <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-bottom-right" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
        </button>
    </div>
    
    <div class="py-8 px-4 mx-auto max-w-2xl">
        <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
            <h2 class="mb-4 text-xl font-semibold leading-none text-gray-900 dark:text-white">
                Create new user
            </h2>
            <div class="grid gap-4 mb-4 md:gap-6 md:grid-cols-2 sm:mb-8">
                
                <div>
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                    <input type="text" formControlName="name" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="First Name" required="">
                    <p class="text-red-500 text-xs italic mt-1" *ngIf="!createUserForm.controls.name?.valid && (createUserForm.controls.name?.dirty || createUserForm.controls.name?.touched)">
                        Name is required
                    </p>
                </div>
                <div>
                    <label for="employee-id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Employee ID</label>
                    <input type="text" formControlName="employee_id" name="employee-id" id="employee-id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Last Name" required="">
                    <p class="text-red-500 text-xs italic mt-1" *ngIf="!createUserForm.controls.employee_id?.valid && (createUserForm.controls.employee_id?.dirty || createUserForm.controls.employee_id?.touched)">
                        Employee ID is required
                    </p>
                </div>
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                    <input type="email" formControlName="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="name@company.com" required="">
                    <p class="text-red-500 text-xs italic mt-1" *ngIf="!createUserForm.controls.email?.valid && (createUserForm.controls.email?.dirty || createUserForm.controls.email?.touched)">
                        Email is required
                    </p>
                </div>
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                    <input type="password" formControlName="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="•••••••••" required="">
                    <p class="text-red-500 text-xs italic mt-1" *ngIf="!createUserForm.controls.employee_id?.valid && (createUserForm.controls.employee_id?.dirty || createUserForm.controls.employee_id?.touched)">
                        Password is required
                    </p>
                </div>  
                <div>
                    <label for="role" class="inline-flex items-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Role
                        <button type="button" data-tooltip-target="role-tooltip" data-tooltip-style="dark" class="ml-1">
                            <svg aria-hidden="true" class="w-4 h-4 text-gray-400 hover:text-gray-900 dark:text-gray-500 dark:hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Show information</span>
                        </button>
                        <div id="role-tooltip" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 max-w-sm text-xs font-normal text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                            User permissions, part of the overall user management process, are access granted to users to specific resources such as files, applications, networks, or devices.
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </label>
                    <select id="role" formControlName="role_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option *ngFor="let role of roles" value="{{ role?._id }}">
                            {{ role?.name }}
                        </option>
                    </select>
                    <p class="text-red-500 text-xs italic mt-1" *ngIf="!createUserForm.controls.role_id?.valid && (createUserForm.controls.role_id?.dirty || createUserForm.controls.role_id?.touched)">
                        Role is required
                    </p>
                </div>
                <div>
                    <label for="user-permissions" class="inline-flex items-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Team
                        <button type="button" data-tooltip-target="tooltip-dark" data-tooltip-style="dark" class="ml-1">
                            <svg aria-hidden="true" class="w-4 h-4 text-gray-400 hover:text-gray-900 dark:text-gray-500 dark:hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Show information</span>
                        </button>
                        <div id="tooltip-dark" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 max-w-sm text-xs font-normal text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                            User permissions, part of the overall user management process, are access granted to users to specific resources such as files, applications, networks, or devices.
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </label>
                    <select id="user-permissions" formControlName="team_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option *ngFor="let team of teams" value="{{ team?._id }}">
                            {{ team?.name }}
                        </option>
                    </select>
                    <p class="text-red-500 text-xs italic mt-1" *ngIf="!createUserForm.controls.team_id?.valid && (createUserForm.controls.team_id?.dirty || createUserForm.controls.team_id?.touched)">
                        Team is required
                    </p>
                </div>
                <div class="sm:col-span-2">
                    <input id="inline-checkbox" formControlName="is_lead" type="checkbox" value="" name="role_checkbox" class="w-4 h-4 text-primary-600 bg-gray-100 rounded border-gray-300 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="inline-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Team Lead</label>
                </div>
                
                
            </div>
            
           
            <button [disabled]="!createUserForm.valid || isLoading" type="submit" class="shake inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                <!-- Log in to your account -->
                <ng-container *ngIf="isLoading">
                    <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-secondary-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                    </svg>
                    <span class="pl-4">Add user</span>
                    <span class="sr-only">Loading...</span>
                </ng-container>
                
                <span *ngIf="!isLoading">Add user</span>
            </button>
        </form>
    </div>
  </section>